.App{
    width: 100%;
    height: 750px;
    background-color: rgb(193, 184, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: beige;
    width: 450px;
    padding: 50px;
    border-radius: 30px;
}
.header{
    text-align: center;
}
.header h1{
    color: rgb(81, 41, 81);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px #b1aeae;
}
.header p{
    text-shadow: 2px 2px 4px #736b6b;
    margin-top: 5px;
}
.total{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(153, 153, 172);
    height: 150px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 5px 5px rgb(208, 214, 216);
}
.total h1{
    color: rgb(239, 237, 228);
    text-shadow: 2px 2px 4px #736b6b;
    font-size: 40px;
}
.input{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.button{
    display: flex;
    justify-content: space-around;
}